---
# main tasks file for galaxyprojectdotorg.galaxy

# Deploy a Galaxy server
#   https://wiki.galaxyproject.org/

- include: clone.yml
  when: galaxy_manage_clone
  tags:
    - galaxy_manage_clone

- include: download.yml
  when: not galaxy_manage_clone and galaxy_manage_download 
  tags:
    - galaxy_manage_download

# Only manage virtualenv if obtaining for backward compatibilty
- include: virtualenv.yml
  when: galaxy_manage_clone or galaxy_manage_download

- include: static_setup.yml
  when: galaxy_manage_static_setup

- include: eggs.yml
  when: galaxy_fetch_eggs

- include: mutable_setup.yml
  when: galaxy_manage_mutable_setup

- include: database.yml
  when: galaxy_manage_database
