---
- name: Create {{ subdomain.name }}'s static dirs and symlink Galaxy static files  # noqa name[template]
  symlink_clone:
    src: "{{ galaxy_static_dir }}"
    path: "{{ galaxy_themes_static_path }}/static-{{ subdomain.name }}/"
    mode: '0755'
    owner: "{{ __galaxy_privsep_user_name }}"
    group: "{{ __galaxy_privsep_user_group }}"

- name: Check if welcome.html is present in {{ subdomain.name }}'s static files  # noqa name[template]
  ansible.builtin.stat:
    path: "{{ galaxy_themes_ansible_file_path }}/{{ subdomain.name }}/static/welcome.html"
  register: custom_welcome
  delegate_to: 127.0.0.1
  become: false

- name: Create welcome.html directory within {{ subdomain.name }}'s static dir  # noqa name[template]
  ansible.builtin.file:
    state: directory
    mode: '0755'
    owner: "{{ __galaxy_privsep_user_name }}"
    group: "{{ __galaxy_privsep_user_group }}"
    path: "{{ galaxy_themes_static_path }}/static-{{ subdomain.name }}/welcome.html"

- name: Check if iframe for {{ subdomain.name }} exists  # noqa name[template]
  ansible.builtin.uri:
    url: "{{ galaxy_themes_welcome_url_prefix }}{{ subdomain.name }}.html"
    return_content: true
  register: galaxy_themes_use_iframe
  failed_when: false
  when: not custom_welcome.stat.exists

- name: Template welcome.html for {{ subdomain.name }}
  ansible.builtin.template:
    src: welcome.html.j2
    dest: "{{ galaxy_themes_static_path }}/static-{{ subdomain.name }}/welcome.html/index.html"
    owner: "{{ __galaxy_privsep_user_name }}"
    group: "{{ __galaxy_privsep_user_group }}"
    mode: '0644'
  when: not custom_welcome.stat.exists

- name: Check if {{ subdomain.name }}'s static files directory exists  # noqa name[template]
  ansible.builtin.stat:
    path: "{{ galaxy_themes_ansible_file_path }}/{{ subdomain.name }}/static/"
  register: subdomain_static_dir

- name: Copy {{ subdomain.name }}'s static files  # noqa name[template]
  ansible.builtin.copy:
    src: "{{ galaxy_themes_ansible_file_path }}/{{ subdomain.name }}/static/"
    dest: "{{ galaxy_themes_static_path }}/static-{{ subdomain.name }}/"
    mode: '0644'
    owner: "{{ __galaxy_privsep_user_name }}"
    group: "{{ __galaxy_privsep_user_group }}"
  when: subdomain_static_dir.stat.exists

- name: Copy custom welcome.html
  ansible.builtin.copy:
    src: "{{ galaxy_themes_ansible_file_path }}/{{ subdomain.name }}/static/welcome.html"
    dest: "{{ galaxy_themes_static_path }}/static-{{ subdomain.name }}/welcome.html/index.html"
    mode: '0644'
    owner: "{{ __galaxy_privsep_user_name }}"
    group: "{{ __galaxy_privsep_user_group }}"
  when: custom_welcome.stat.exists
