[Unit]
Description=Galaxy Reports
After=network.target
After=time-sync.target

[Service]
UMask=022
Type=simple
User={{ __galaxy_user_name }}
Group={{ __galaxy_user_group }}
WorkingDirectory={{ galaxy_server_dir }}
TimeoutStartSec=10
ExecStart={{ galaxy_venv_dir }}/bin/uwsgi {{ '--yaml' if galaxy_config_style in ('yaml', 'yml') else '--ini' }} {{ galaxy_reports_path }}
Environment=HOME={{ galaxy_root }}
Environment=VIRTUAL_ENV={{ galaxy_venv_dir }}
Environment=PATH={{ galaxy_venv_dir }}/bin:/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/sbin
Environment=DOCUTILSCONFIG=
MemoryLimit={{ __galaxy_systemd_memory_limit_merged.reports }}G
Restart=always

MemoryAccounting=yes
CPUAccounting=yes
BlockIOAccounting=yes

[Install]
WantedBy=multi-user.target
