##
## This file is managed by Ansible.  ALL CHANGES WILL BE OVERWRITTEN.
##

{#- define galaxy_config if it doesn't exist, for later ease of use -#}
{%- if galaxy_config is not defined or galaxy_config == None -%}
{%- set galaxy_config = {} %}
{% endif %}

{% for server in galaxy_config if server.startswith('server:') %}

{#- server: must contain use, set it if unset -#}
{#- default to enabling the threadpool, but this can be overridden -#}
[{{ server }}]
{{ "use = egg:Paste#http" if galaxy_config[server]['use'] is not defined else "" }}
{{ "use_threadpool = True" if galaxy_config[server]['use_threadpool'] is not defined else "" }}
{% for opt in galaxy_config[server] %}
{{ opt }} = {{ galaxy_config[server][opt] }}
{% endfor %}

{% else %}

[server:main]
use = egg:Paste#http
use_threadpool = True

{% endfor %}

{#- add any other defined sections (e.g. [uwsgi]). -#}
{% for section in galaxy_config if not section.startswith('server:') and not section == galaxy_app_config_section %}
[{{ section }}]
{% for opt in galaxy_config[section] %}
{{ opt }} = {{ galaxy_config[section][opt] }}
{% endfor %}
{% endfor %}

[{{ galaxy_app_config_section }}]

{% if galaxy_config_style == "ini-paste" and (galaxy_app_config_section not in galaxy_config or (galaxy_app_config_section in galaxy_config and "paste.app_factory" not in galaxy_config[galaxy_app_config_section])) %}
paste.app_factory = {{ galaxy_paste_app_factory }}
{% endif %}

; options from the role's config defaults appear here
{# defaults -#}
{% for opt in galaxy_config_default[galaxy_app_config_section] | sort %}
{% if galaxy_app_config_section not in galaxy_config or (galaxy_app_config_section in galaxy_config and opt not in galaxy_config[galaxy_app_config_section]) %}
{{ opt }} = {{ galaxy_config_default[galaxy_app_config_section][opt] }}
{% endif %}
{% endfor %}

; options configured by the site admin appear here
{# configured options -#}
{% if galaxy_app_config_section in galaxy_config %}
{% for opt in galaxy_config[galaxy_app_config_section] | sort %}
{{ opt }} = {{ galaxy_config[galaxy_app_config_section][opt] }}
{% endfor %}
{% endif %}
