---
name: Molecule Tests
on:
  pull_request:
  push:
    branches:
      - main
  # TODO: test dev weekly
jobs:
  molecule:
    name: molecule
    # systemd may not work under 22.04 due to cgroupsv2
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        scenario:
          - default
        from-image:
          - centos:7
          - rockylinux:8
          - ubuntu:20.04
          - ubuntu:22.04
        galaxy-version:
          - '22.01'
          - '22.05'
          - '23.0'
          - 'dev'
        exclude:
          # wheels often don't exist in the combination of old package versions in older galaxy releases for newer
          # python versions in newer operating systems; nobody should be installing an old galaxy on a new os anyway, so
          # we can just skip those combinations.
          - from-image: ubuntu:22.04
            galaxy-version: '21.01'
          - from-image: ubuntu:22.04
            galaxy-version: '22.01'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      # The molecule-docker pin can be removed after molecule-docker>2.1.0 is released, see:
      # https://github.com/ansible-community/molecule/issues/3733
      - name: Install dependencies
        run: pip3 install molecule[docker] ansible-core 'molecule-docker!=2.1.0'

      - name: Run molecule
        run: molecule test -s ${{ matrix.scenario }}
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          ANSIBLE_STDOUT_CALLBACK: yaml
          FROM_IMAGE: '${{ matrix.from-image }}'
          GALAXY_COMMIT_ID: 'release_${{ matrix.galaxy-version }}'
          GALAXY_VERSION: '${{ matrix.galaxy-version }}'
